.push-top {
    margin-top: 28px;
}

.map-marker-button {
    position: relative;
    cursor: pointer;
    display: block;
    background: #FFF;
    border-radius: 3px;
    font-size: 13px;

    -webkit-box-shadow: 1px 1px 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 5px 0 rgba(50, 50, 50, 0.75);

    padding: 1px 2px;
}

.map-marker-button:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 45%;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

.map-marker-button span.label {
    position: absolute;
    top:3px;
    left:2px;
}

.map-marker-button span.cat-text {
    margin-left: 19px;
    background: none !important;
    display: block;
    white-space: nowrap;
}

ng-map {
    margin-top: 34px;
    height: 600px !important;
    display: block;
}

td.date-field {
    width: 125px;
}

tr.highlight {
    background: #d9edf7;
}

a.highlight {
    background: #0b97c4;
    color: #fff;

    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
}

a.highlight:after {
    border-color: #0b97c4 transparent;
}

a.highlight span.label {
    background: #fff !important;
    color: #0b97c4;
}

span.prio1 {
    background: #cc0000;
}

span.prio2 {
    background: #cc7000;
}

span.prio3 {
    background: #e5ce00;
}

span.prio4 {
    background: #95cc38;
}

span.prio5 {
    background: #72c0e3;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}