
    <div class="page-header">
        <h1>Trafikinformation</h1>
    </div>

    <div class="row">
        <div class="col-md-6">

            <ul class="nav nav-tabs" role="tablist">

                <li ng-class="{active: currentTrafficMsgCategory == 'all'}">
                    <a href="" ng-click="changeToTrafficMsgCategory('all')">Alla</a>
                </li>
                <li ng-repeat="(categoryNum, categoryName) in allTrafficMsgCategories" ng-class="{active: currentTrafficMsgCategory == categoryNum}">
                    <a href="" ng-click="changeToTrafficMsgCategory(categoryNum)">{{categoryName}}</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <div ng-show="noItemsFound" class="push-top alert alert-warning">
                Inga meddelanden hittades för kategorin.
            </div>

            <table class="table" ng-show="trafficMessages.length">
                <thead>
                    <tr>
                        <th>Tidpunkt</th>
                        <th>Titel</th>
                        <th>Typ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="trafficMessage in trafficMessages"
                        ng-mouseover="highlightTrafficMessage(trafficMessage)"
                        ng-mouseleave="highlightTrafficMessage()"
                        ng-class="{highlight: hightlightedTrafficMsg == trafficMessage}"
                    >
                        <td>
                            <small>{{trafficMessage.createddate | date:'yyyy-MM-dd (HH:mm)'}}</small>
                        </td>
                        <td>
                            {{trafficMessage.title}}
                        </td>
                        <td>
                            {{trafficMessage.subcategory}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-xs btn-info" ng-click="setSpecificTrafficMsg(trafficMessage)" data-toggle="modal" data-target="#specificTrafficMessage">Mer info</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">

            <div map-lazy-load="https://maps.google.com/maps/api/js">
                <ng-map zoom="5" center="[62, 16]">

                    <custom-marker
                            position="[{{trafficMessage.latitude}}, {{trafficMessage.longitude}}]"
                            ng-repeat="trafficMessage in trafficMessages"
                    >
                        <div class="cm">
                            <!-- Runs angular function and also toggles bootstrap modal with "data-toggle" and "data-target" attributes -->
                            <a class="map-marker-button"
                               ng-click="setSpecificTrafficMsg(trafficMessage)"
                               ng-mouseover="highlightTrafficMessage(trafficMessage)"
                               ng-mouseleave="highlightTrafficMessage()"
                               ng-class="{highlight: hightlightedTrafficMsg == trafficMessage}"
                               data-toggle="modal"
                               data-target="#specificTrafficMessage"
                            >
                                {{trafficMessage.subcategory}}
                            </a>
                        </div>
                    </custom-marker>

                </ng-map>
            </div>

        </div>

    </div>

    <!-- Bootstrap Modal -->
    <div class="modal fade" id="specificTrafficMessage" tabindex="-1" role="dialog" aria-labelledby="specificTrafficMessageLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{currentSpecificTrafficMsg.title}}</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Datum</th>
                                <td>
                                    {{currentSpecificTrafficMsg.createddate | date:'yyyy-MM-dd'}}
                                </td>

                            </tr>
                            <tr>
                                <th>Tid</th>
                                <td>
                                    {{currentSpecificTrafficMsg.createddate | date:'HH:mm'}}
                                </td>
                            </tr>
                            <tr>
                                <th>Prio</th>
                                <td>{{currentSpecificTrafficMsg.priority}}</td>
                            </tr>
                            <tr>
                                <th>Titel</th>
                                <td>{{currentSpecificTrafficMsg.title}}</td>
                            </tr>
                            <tr>
                                <th>Typ</th>
                                <td>{{currentSpecificTrafficMsg.subcategory}}</td>
                            </tr>
                            <tr>
                                <th>Specifik plats</th>
                                <td>{{currentSpecificTrafficMsg.exactlocation}}</td>
                            </tr>
                            <tr>
                                <th>Beskrivning</th>
                                <td>{{currentSpecificTrafficMsg.description}}</td>
                            </tr>
                            <tr>
                                <th>Latitud</th>
                                <td>{{currentSpecificTrafficMsg.latitude}}</td>
                            </tr>
                            <tr>
                                <th>Longitud</th>
                                <td>{{currentSpecificTrafficMsg.longitude}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Stäng</button>
                </div>
            </div>
        </div>
    </div>